<detail>
    <summary> Shopping Cart </summary>
    <ul>
        <% @cart.each do |prod| %>
            <li><%= prod.name%></li> - <%= link_to 'remove from cart', remove_from_cart_path(prod) , method: :delete %>
        <% end %>
    </ul>

</detail>