<div>
    <h1>About Us</h1>
    <label for="name">Name</label>
    <p><%= @owner.website_name %></p>

    <label for="name">Description</label>
    <p> <%= @owner.website_description %> </p>

    <label for="name">Owner</label>
    <p><%= @owner.owner_name %></p>
</div>