<div>
    <h1>About Us</h1>
    <label>Name</label>
    <p><%= @owner.website_name %></p>

    <label>Description</label>
    <p> <%= @owner.website_description %> </p>

    <label>Owner</label>
    <p><%= @owner.owner_name %></p>
</div>