<h1>Hello World</h1>

<%= debug session[:cart] %>


<h3>Recent Products</h3>
<% if @recent_products.present? %>
    <%= render partial: '/products/product', collection: @recent_products%>%
<% end %>

<h3>All Products</h3>
<% if @products.present? %>
    <%= render @products %>
<% end %>



<%= paginate @products %>